/* Estilos específicos para a página de dashboard */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 20px;
    background-color: #f4f4f4;
}
