/* Estilos específicos para a página de registro */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa; /* Cor de fundo suave */
}

.container {
    width: 100%;
    max-width: 400px; /* Largura máxima para telas pequenas */
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
}

.card {
    border: none; /* Remove bordas do card */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

.input-group {
    width: 100%; /* Garante que o grupo ocupe toda a largura */
    display: flex;
    align-items: stretch; /* Alinha verticalmente os itens */
}

.input-group .btn, .input-group .form-control {
    height: calc(2.25rem + 2px);
    border-radius: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Bordas arredondadas apenas do lado esquerdo */
    transition: border-color 0.3s; /* Transição suave para bordas */
    flex: 1; /* Faz o input ocupar todo o espaço disponível */
}

input:focus {
    border-color: #5cb85c; /* Cor da borda ao focar */
    outline: none; /* Remove outline padrão */
}

button {
    padding: 10px;
    background: #5cb85c;
    color: #fff;
    border: 1px solid #5cb85c; /* Borda igual à cor do fundo */
    border-radius: 0 5px 5px 0; /* Bordas arredondadas apenas do lado direito */
    cursor: pointer;
    transition: background 0.3s; /* Transição suave para o botão */
    width: auto; /* O botão terá uma largura ajustada ao seu conteúdo */
}

button:hover {
    background: #4cae4c;
}

.invalid-feedback {
    display: block;
    color: #dc3545; /* Cor de erro do Bootstrap */
}

.btn-primary {
    padding: 10px;
    font-size: 1.1rem;
}

/* Estilos específicos para a coluna */
.col-lg-5 {
    width: 100%; /* Limita a largura em telas grandes */
    flex: 0 0 auto; /* Garante que não seja flexível */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 15px; /* Menos padding em telas menores */
    }

    .btn-primary {
        font-size: 1rem; /* Tamanho menor para botões */
    }

    input {
        margin-bottom: 15px; /* Menor margem em telas pequenas */
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%; /* Largura total em telas médias e grandes */
        padding: 30px; /* Padding adicional */
    }

    .btn-primary {
        font-size: 1.2rem; /* Tamanho maior para botões em telas grandes */
    }

    input {
        margin-bottom: 25px; /* Maior margem em telas maiores */
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 600px; /* Largura máxima em telas muito grandes */
    }
}
